# Local build files
build
.vagrant

# Local files
bin/composer
composer.phar
composer.lock
cache.properties
db/config.sh

# Dependencies
vendor

# Local test files
database.ini*
.phpunit.result.cache

# IntelliJ IDEA files
.idea
*.iml
