<?xml version="1.0"?>
<!-- see http://www.phpunit.de/wiki/Documentation -->
<!-- Options copy-pasted from phpUnderControl documentation -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./tests/Bootstrap.php"
         colors="false"
         stopOnFailure="false"
         processIsolation="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <testsuite name="FrameworkTests">
    <directory>./tests</directory>
  </testsuite>
  <logging>
    <junit outputFile="./build/logs/phpunit.xml"/>
  </logging>
  <!-- Define directories/files filter for code coverage. -->
  <source>
    <include>
      <directory suffix=".php">./library/Opus</directory>
    </include>
    <exclude/>
  </source>
</phpunit>
