<?xml version="1.0"?>
<!-- see http://www.phpunit.de/wiki/Documentation -->
<!-- Options copy-pasted from phpUnderControl documentation -->

<phpunit bootstrap="./tests/Bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         processIsolation="false">

    <testsuite name="FrameworkTests">
        <directory>./tests</directory>
    </testsuite>

    <logging>
        <log type="junit" target="./build/logs/phpunit.xml" />
    </logging>

    <!-- Define directories/files filter for code coverage. -->
    <filter>
        <!-- Define directories to include. -->
        <whitelist>
            <directory suffix=".php">./library/Opus</directory>
            <exclude>
                <!-- <file>./library/Opus/...</file> -->
            </exclude>
        </whitelist>
    </filter>

</phpunit>
