<?xml version="1.0"?>
<!-- see http://www.phpunit.de/wiki/Documentation -->
<!-- Options copy-pasted from phpUnderControl documentation -->

<phpunit bootstrap="./Bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         processIsolation="false"
         syntaxCheck="true">

    <testsuite name="FrameworkTests">
        <directory>./</directory>
    </testsuite>

    <logging>
        <log type="junit" target="build/logs/phpunit.xml" logIncompleteSkipped="false" />
    </logging>

    <!-- Define directories/files filter for code coverage. -->
    <filter>
        <!-- Per default, skip all files. -->
        <blacklist>
            <directory suffix=".php">..</directory>
        </blacklist>

        <!-- Define directories to include. -->
        <whitelist>
            <directory suffix=".php">../library/Opus</directory>
            <exclude>
                <!-- <file>../library/Opus/...</file> -->
            </exclude>
        </whitelist>
    </filter>

</phpunit>
