<?xml version="1.0"?>
<!-- see http://www.phpunit.de/wiki/Documentation -->
<!-- Options copy-pasted from phpUnderControl documentation -->

<!-- <phpunit backupGlobals="false"
         backupStaticAttributes="true"
         bootstrap="./Bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"> -->

<phpunit bootstrap="./Bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         processIsolation="false"
         syntaxCheck="true">

    <testsuite name="FrameworkTests">
        <directory>./</directory>
    </testsuite>

    <!-- Define directories/files filter for code coverage. -->
    <filter>
        <!-- Per default, skip all files. -->
        <blacklist>
            <directory suffix=".php">..</directory>
        </blacklist>

        <!-- Define directories to include. -->
        <whitelist>
            <directory suffix=".php">../library/Opus</directory>
            <exclude>
                <directory suffix=".php">../library/Opus/Search/Adapter</directory>
                <directory suffix=".php">../library/Opus/Search/Index/FileFormatConverter</directory>
                <directory suffix=".php">../library/Opus/Search/Index/Lucene</directory>
                <directory suffix=".php">../library/Opus/Search/Iterator</directory>
                <directory suffix=".php">../library/Opus/Search/List</directory>
                <file>../library/Opus/Search/Index/Document.php</file>
                <file>../library/Opus/Search/Highlighter.php</file>
                <file>../library/Opus/Search/Query.php</file>
                <file>../library/Opus/Search/SearchHit.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
